@import "./fonts";


body {
  //background: #282A42 !important;
  padding: 0;
  margin: 0;
  overflow-x: hidden;

}

.ReactModal__Overlay {
  background-color: rgba(31, 60, 136, 0.2) !important;
  z-index: 99999;
}

.MuiPaper-root {
  width: 40% !important;
  @media(max-width: 992px) {
    width: 70% !important;
  }
}
