@import "./fonts";


body {
  background: #f6f5f5 !important;
  padding: 0;
  margin: 0;
  overflow-x: hidden;

}

.ReactModal__Overlay {
  background-color: rgba(31, 60, 136, 0.2) !important;
  z-index: 99999;
}